.svgSearchComponent {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  opacity: 1;
  transition:
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease;
  margin-left: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
